extends layout 

block content 

  h1= title

  form.category-form(method="POST" action="")
    div.form-group 
      label(for='name') Name: 
      input#name.form-control(type='text', placeholder='Protein Shakes, Energy Drinks, etc.' name='name' value=(category === undefined ? '' : category.name))
      br
      label(for='description') Description: 
      input#description.form-control(type='text', placeholder='This category is...' name='description' value=(category===undefined ? '' : category.description))
    button.btn.btn-primary(type='submit') Submit
  
  if errors 
    ul 
      for error in errors
        li!= error.msgs
    
